*{
    margin: 0px;
    padding: 0px;
    /* font-family: ;
    box-sizing: border-box; */
    color: white;
    /* background-color: black; */
    font-family: 'Crimson Text', serif;
font-family: 'Dancing Script', cursive;
font-family: 'Roboto Slab', serif;
}



.hero{
    height: 100vh;
    width: 100%;
    background: url('bbb.jpg') no-repeat;
    background-size: cover;
    background-position: center;
}
nav{
    display: flex;
    color: white;
    justify-content: space-between;
    padding-top: 35px;
    padding-left: 6%;
    padding-right: 8%;

}

.logo{
    font-size: 45px;
    letter-spacing: 1px;
    cursor: pointer;
}

samp{
    color: red;
}

nav ul li{
    list-style: none;
    display: inline-block;
    padding: 10px 20px;
    font-size: 18px;
}

nav ul li a{
    color: white;
    text-decoration: none;
    text-transform: capitalize;
}

nav ul li a:hover{
    color: red;
    transition: .5s; 
    
}

nav .btn{
    background-color: red;
    text-decoration: none;
    color: white;
    border: 2px solid transparent;     
    /* font-weight: bold; */
    /* padding: 12px; */
    padding-top: 9px;
    padding-left: 24px;
    padding-right: 24px;
    border-radius: 30px;
    font-size: 15px;
    transition: transform .4s;
    margin-bottom: 18px;
}

.btn:hover{
    border:2px solid #ee5c5c;
    background-color: transparent;
}

.name{
    margin-top: 150px;
    margin-left: 215px;
    letter-spacing: 2px;
}

.nn{
    margin-top: 20px;
}

h1{
    font-size: 68px;
}

.inp{
    width: 300px;
    height: 37px;
    border-radius: 30px;
    margin-top: 20px;
    border: none;
    color: black;
    padding-left: 7px;
    position: absolute;
}

.submit{
    background-color: red;
    border-radius: 30px;
    height: 35px;
    width: 80px;
    border: none;
    position: absolute;
    margin-top: 21px;
    margin-left: 226px;
}

.container-2{
    display: flex;
    justify-content: space-evenly;
    background-color: black;
    height: 100vh;

}

.my-pic{
    /* border: 2px solid blue; */
    margin-left: 134px;

}

.img2{
    width: 357px;
    height: 430px;
}

.information{
    /* border: 2px solid lime; */
    margin-top: 150px;
    margin-right: 377px;
    margin-left: 35px;
    align-items: center;
    text-align: center;
    justify-content: space-around;
}

.information h3{
    padding-bottom: 20px;
    letter-spacing: 1px;
}

.information h3 span{
    color: red;
}

.information input{
    background-color: red;
    padding: 10px 25px 10px 25px;
    border-radius: 30px;
    margin-top: 10px;
    letter-spacing: 1px;
    border-color: red;
}

.information input:hover{
    background-color: transparent;
}

.container-3{
    display: flex;
    background-color: black;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* border: 2px solid blue; */
}


.container-3 .card{
    /* border: 2px solid purple; */
    display: flex;
    flex-direction: row;
}

.list1{
    display: flex;
    flex-direction: column;
    border: 2px solid white;
    height: 360px;
    width: 290px;
    margin: 35px;
    /* border-radius: 30px; */
    border: none;
    align-items: center;
    justify-content: center;
    
    
}

.container-3 .service{
    padding: 25px;
    transition: 0.4s;
    /* border: 2px solid palegreen; */
    margin-bottom: 100px;
    
}

.container-3 .service:hover{
    color: red;
}

.box {
    position: relative;
    transform-style: preserve-3d;
  }
  .box::before {
    content: "";
    position: absolute;	
    inset: -15px;
    background: conic-gradient(from 90deg at 40% -25%, #ffd700, #f79d03, #ee6907, #e6390a, #de0d0d, #d61039, #cf1261, #c71585, #cf1261, #d61039, #de0d0d, #ee6907, #f79d03, #ffd700, #ffd700, #ffd700);
    filter: blur(10px);
    transform: translate3d(0px,0px,-1px);
    clip-path: polygon(-100vmax -100vmax,100vmax -100vmax,100vmax 100vmax,-100vmax 100vmax,-100vmax -100vmax,calc(15px - 0px) calc(15px - 0px),calc(15px - 0px) calc(100% - 0px - 15px),calc(100% - 0px - 15px) calc(100% - 0px - 15px),calc(100% - 0px - 15px) calc(15px - 0px),calc(15px - 0px) calc(15px - 0px));
    pointer-events: none;
  }

.container-3 .card{
    display: flex;
    flex-direction: row;    
} 

.container-3 .card img{
    color: rgb(173, 19, 19);
    width: 81px;
    height: 80px; 
}

.container-3 .card h5:hover{
   color: #ee5c5c;
}

.container-3 .card h5{
    margin: 10px 0px 10px 0px;
    letter-spacing: 1.3px;
    font-size: 20px;
    transition: 0.5s;
}

.container-3 .card p{
    font-size: 13px;
    padding: 17px 22px 5px 20px;
}

.container-3 .card .img2{
    height: 98px;
    width: 100px;
}

.services-btn{
    border: 2px solid red;
    color: white;
    background-color: red;
    border-radius: 30px;
    height: 35px;
    width: 80px;
    margin: 10px 0px 25px 0px;
    padding: 10px 0px 25px 0px;
}

.services-btn:hover{
    background-color: black;
}

footer{
    /* border: 2px solid white; */
    padding: 50px;
    align-items: center;
    text-align: center;
    background-color: black;
}

footer h3{
    letter-spacing: 1.2px;
}

footer p{
    padding: 16px;
}

footer .social-logo{
      width: 29px;
      padding: 0px 10px 0px 10px;
}




 